<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
</head>

<body>
    <nav>
        <div class="nav-items">
            <div class="item" id="logo">
                <i class="fa-solid fa-bed"></i>
                <p>Logo</p>
            </div>
            <div class="item">
              <a href="index1.html">Home</a>
            </div>
            <div class="item">
                <a href="rooms.html">Rooms</a>
            </div>
            <div class="item">
                <a href="about.html">About</a>
            </div>
            <div class="item">
                <a href="contact.html">Contact</a>
            </div>
        </div>
        <div class="btn-btn">
            <div class="item">
                <a href="">Book Now</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <h2 style="padding: 10px;">Conatct</h2>
        <p class="conatct">If you have any questions, do not hesitate to ask them.</p>
        <p><i class="fa-solid fa-location-dot"></i>Chicago, US</p>
        <p><i class="fa-solid fa-phone"></i>Phone: +00 151515</p>
        <p style="margin-bottom: 30px;"><i class="fa-solid fa-envelope"></i> Email: mail@mail.com</p>
        <div class="form">
            <input type="text" placeholder="Name"><br>
            <input type="text" placeholder="Email"><br>
            <input type="text" placeholder="Message"><br>
            <button>SEND MESSAGE</button>
        </div>
    </div>

     <footer>
        <div class="main-footer">
            <div class="footer-text">
                <p>Find as on</p>
            </div>
            <div class="footer-icon">
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-square-snapchat"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-pinterest-p"></i>
                <i class="fa-brands fa-linkedin-in"></i>
            </div>
            <div class="text">
                © 2026 Hotel Website. All rights reserved.  
                Designed by Kamini Jajal
            </div>
        </div>
    </footer>
</body>

</html>