<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
</head>

<body>
        <nav>
        <div class="nav-items">
            <div class="item" id="logo">
                <i class="fa-solid fa-bed"></i>
                <p>Logo</p>
            </div>
            <div class="item">
              <a href="index1.html">Home</a>
            </div>
            <div class="item">
                <a href="rooms.html">Rooms</a>
            </div>
            <div class="item">
                <a href="about.html">About</a>
            </div>
            <div class="item">
                <a href="contact.html">Contact</a>
            </div>
        </div>
        <div class="btn-btn">
            <div class="item">
                <a href="">Book Now</a>
            </div>
        </div>
    </nav>
    <div class="container">
        
        <div class="room-text">
            <h2>Rooms</h2>
            <p>Make yourself at home is our slogan. We offer the best beds in the industry. Sleep well and rest well.
            </p>
        </div>
        <div class="select">
            <div class="col">
                <div class="menu">
                    <i class="fa-regular fa-calendar"></i>
                    <p>Check In</p>
                </div>
                <input type="text" placeholder="DD MM YYYY">
            </div>
            <div class="col">
                <div class="menu">
                    <i class="fa-regular fa-calendar"></i>
                    <p>Check Out</p>
                </div>
                <input type="text" placeholder="DD MM YYYY">
            </div>
            <div class="col1">
                <div class="menu">
                    <i class="fa-solid fa-person"></i>
                    <p>Adults</p>
                </div>
                <input type="number" name="" id="">
            </div>
            <div class="col1">
                <div class="menu">
                    <i class="fa-solid fa-child"></i>
                    <p>Kids</p>
                </div>
                <input type="number" name="" id="">
            </div>
            <div class="col">
                <div class="menu">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <p>Search</p>
                </div>
                <button type="button">Search</button>
            </div>
        </div>
        <div class="card">

            <div class="items">
                <img src="image/room1.jpg" alt="">
                <div class="content1">
                    <h3 style="padding: 10px; font-size: 30px;">Single Room</h3>
                    <h6 style="padding: 10px; font-size: 20px;color: rgb(117, 111, 111); ">500 Rs Only</h6>
                    <p>Single bed</p>
                    <p>15m<sup>2</sup></p>
                    <p>
                        <i class="fa-solid fa-bath"></i>
                        <i class="fa-solid fa-phone"></i>
                        <i class="fa-solid fa-wifi"></i>
                    </p>
                    <button class="button">Choose Room</button>
                </div>
            </div>
            <div class="items">
                <img src="image/room2.jpg" alt="">
                <div class="content1">
                    <h3 style="padding: 10px; font-size: 30px;">Double Room</h3>
                    <h6 style="padding: 10px; font-size: 20px;color: rgb(117, 111, 111); ">1000 Rs Only</h6>
                    <p>Queen-size bed</p>
                    <p>25m<sup>2</sup></p>
                    <p>
                        <i class="fa-solid fa-bath"></i>
                        <i class="fa-solid fa-phone"></i>
                        <i class="fa-solid fa-wifi"></i>
                        <i class="fa-solid fa-tv"></i>
                    </p>
                    <button class="button">Choose Room</button>
                </div>
            </div>
            <div class="items">
                <img src="image/room3.jpg" alt="">
                <div class="content1">
                    <h3 style="padding: 10px; font-size: 30px;">Deluxe Room</h3>
                    <h6 style="padding: 10px; font-size: 20px;color: rgb(117, 111, 111); ">1000 Rs Only</h6>
                    <p>King-size bed</p>
                    <p>40m<sup>2</sup></p>
                    <p>
                        <i class="fa-solid fa-bath"></i>
                        <i class="fa-solid fa-phone"></i>
                        <i class="fa-solid fa-wifi"></i>
                        <i class="fa-solid fa-tv"></i>
                        <i class="fa-solid fa-martini-glass"></i>
                        <i class="fa-solid fa-utensils"></i>
                    </p>
                    <button class="button">Choose Room</button>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="main-footer">
            <div class="footer-text">
                <p>Find as on</p>
            </div>
            <div class="footer-icon">
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-square-snapchat"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-pinterest-p"></i>
                <i class="fa-brands fa-linkedin-in"></i>
            </div>
            <div class="text">
                © 2026 Hotel Website. All rights reserved.  
                Designed by Kamini Jajal
            </div>
        </div>
    </footer>
</body>

</html>