<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .about{
             width: 100%;
             display: grid;
             gap:20px;
             grid-template-columns: repeat(4,1fr);
        }
        .col{
             border: 10px solid black;
             padding: 100px;
        }
        #col1{
            grid-column: 1 / 2 span;
            grid-row:  1 / 2 span;
        }
    </style>
</head>
<body>
    <div class="main">
        <div class="about">
            <div class="col" id="col1"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
    </div>
</body>
</html>